/* CSS Document */
	* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	font-family: futura-pt, Helvetica, sans-serif;
}


.bg-smartnav {
	background-color: #011C33;
}

.smartcloudlogo {
    width: 450px;
	padding-top: 20px;
}


/*Font Attributes*/
h1{
			font-family: ff-prater-block-web, futura-pt-condensed, sans-serif;
			font-style: normal;
			font-weight: 400;
			margin: 0px;
		}

h2 {
	font-family: eurostile-condensed, sans-serif;
	font-color: white;
	font-weight: 800;
	font-style: normal;
	
}

h3, h4, h5, h6 {
	font-family: roboto, sans-serif;
	font-weight: 600;
	font-style: normal;
	margin: 0px;
}

p {
	font-family: roboto, sans-serif;
	font-weight: 400;
	font-style: normal;

}

.lead {
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
  	margin: 0;
}
		
.strapline {
			font-size: 3.2rem;
			background-color: #F5E135;
			padding: 5px 28px 5px 35px;
			display: inline-block;
		}


.strapline-white {
			background-color: #FFFFFF;	
		}


.mini-title {
	margin-top: 30px;
	padding: 2px 15px 5px 15px;
	display: inline-block	
}

.maintitles{
    background-color: white;
    margin-top: 10px;
    padding: 5px 35px 5px 35px;
    display: inline-block;	
}

.titles-center {
 display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
}





/*Container Attributes*/
#landing
 {background-color:#449BBA;
}

#landing h3 {
	padding-left: 15px;
}



.smartcloudgirl {
	 width:75%;
}



.student-caption {
	font-family: futura-pt-condensed, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 2rem;
	text-align: center;
	color: white;
	background-color:#5A8700;	
}

.price-rate {
	width: 100%;}
	
#landing .fas{
	background: #333;
	color: #fff;
	padding: 5px;
	border-radius:5px;
	font-size: 1.35rem;
}
	
	
/*About us ID*/
#about-us {
	background-color: #00526F;	
}


#about-us h2 {
	background-color: #002633;	
}


/*Our Tutors ID*/

#our-tutors {
    background-color: #9CD000;	
}

#our-tutors h2 {
	background-color: #457803;	
}

/*Remote Learning ID*/

#remote-learning {
   background-color: #8C111E;	
}

#remote-learning h2{
	background-color: #400015;
}


/*Our Rates ID*/

#our-rates {
	background-color: #F4A700;
	
}

#our-rates h2 {
	background-color: #B97E00;
}

/*Testimonials ID*/
#testimonials {
	background-color:#8457B9;
}

.blockquote {
	color: white;
}

/*FAQ ID*/

#faq {
	background-color:#526F5E;
}

/*FAQ CSS*/
#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #6669;
}

.card-header {
	background-color: #8FB9A1 !important;
}

/*Contact ID*/
#contact-us {
	background-color: #005C7C;
}



















/*media queries*/





@media (max-width:575px){
	.smartcloudlogo {
    width: 100%;
}
	.students {
	width: 100%		
}
	.strapline {
			font-size: 2.5rem;
			padding: 2px 35px 2px 35px;
		text-align: center;
		
		}
	.price-rate {
	width: 50%;	
}
	
	
}


@media (min-width:576px){
	.smartcloudlogo{
		width:100%;
	}

	.students {
	width: 100%	
}
	.strapline {
			font-size: 3rem;
			padding: 2px 10px 2px 35px;
		}
	
	
	
		
	
}

@media (min-width:768px){

	.students {
	width: 100%		
}
	.strapline {
			font-size: 3.5rem;
			padding: 2px 10px 2px 45px;
			text-align:left;
		}

}
@media (min-width:992px){

	
	.students {
	width: 100%		
}
	.strapline {
			font-size: 2.65rem;
		}
	
}

@media (min-width:1200px){

	.strapline {
			font-size: 3.25rem;
			padding: 2px 10px 2px 35px;
		}
	
	
	
	
	
}
/*@media (min-width:1400px){
	.smartcloudlogo {
    width: 450px;
}	
}*/




